body {
    background-color: black;
    color: white;
}

#container {
    /* border: 1px solid blue; */
    width: 80%;
    margin: auto;
}

/* h1{
    font-family:'Lobster';
    font-size: 90px;
} */

.headings {
    font-family: 'Lobster';
}

#title{
    font-size: 90px;
    text-align: center;
}

span{
    color: red;
}

#img-div{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image{
    /* border: 1 px solid blue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; */
    width: 350px;
    border-radius: 20px;
}

p {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}

#marvel {
    font-size: 60px;
}

li {
    font-size: 24px;
    /* letter-spacing: 3px; */
    line-height: 1.8;
    
}

li:hover{
    font-size: 30px;
}

#footer {
    margin: 0;
    padding: 0;
}

#link{
    text-decoration: none;
    color: red;
}

#link:hover{
    color:white;
    font-size: 36px;
}