* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 /* with * sign we can administer a style all over the page at once */
 /*  priority: 
    selector (p, h1, body vs.) ==>1
    Classes ==> 10
    id ==> 100
    inline ==> 1000 */

/* 1st paragraph style */
#first_Paragraph {
    color: crimson;
    border: 1px solid brown; 
    padding: 5px; 
    margin: 50px; 
    letter-spacing: 3px; 
    line-height: 30px; 
}

h1 {
    background-color: bisque;
}

body {
    background-color: chartreuse;
}

body {
    background-color: chocolate;
}

p, h1 {
    color:cornflowerblue ;
}

/* whole paragraphs will be altered except the first one */
p.prg {
    background-color: darkgoldenrod;
    display: inline;
    border: 1px solid black
}